.container-fluid h3{font-size:25px;font-weight:bolder;}
@media only screen and (max-width:767px){
    .container-fluid div#popularCat div:first-of-type{padding-right: 10px !important;}
    .container-fluid div#popularCat div:last-of-type{padding-left: 10px !important;}
}
.container-fluid div#popularCat .col-md:first-of-type{padding-right:0px;}
.container-fluid div#popularCat .col-md:last-of-type{padding-left:0px;}
.container-fluid div#popularCat .col-md div{text-align: center;cursor: pointer;background:#F2FCF5;height:150px;}
.container-fluid div#popularCat .col-md a{text-decoration:none !important;color:#000;}
.container-fluid div#popularCat .col-md:first-of-type a{color:#03AD53;}
.container-fluid div#popularCat .col-md p{text-overflow:ellipsis;}



h3+span a{text-decoration:none;color:#03AD53;font-weight:bold;}
#weeklyDeals .col div>div:first-child{display:flex;justify-content: end;}
#weeklyDeals .col div div:first-child span{color: rgba(17,17,17,.5);
    padding: 0;background-color: #f1f1f1;width: 30px;height: 30px;
    display: flex;justify-content: center;align-items: center;border-radius: 50%;font-size: 16px;}
#weeklyDeals .col div div:nth-child(2){text-align:center;}
#weeklyDeals .col div p{overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}
#weeklyDeals .col div span{color:#03AD53;font-weight:600;}
#weeklyDeals .col div button{background:#03AD53;color:#fff;padding:7px 0px;border:none;}

h4.subscribe{max-width:400px;font-size:21px;text-align:center;margin:auto}
h4.subscribe+div{border: 2px solid #03AD53;background: #F2FCF5;border-radius:4px;}
h4.subscribe+div input,h4.subscribe+div button{padding: 7px 0px;border:none;}
h4.subscribe+div input{width:80%;outline:none;box-shadow:none;}
h4.subscribe+div button{background:#03AD53;color:#fff;width:20%;border-top-right-radius:4px;border-bottom-right-radius:4px;}
