.container .col-sm-12:nth-child(2){justify-content:center;align-items:center;display:flex;}
.form{max-width:400px;margin:auto;}
.form div{margin-top:10px;}
input[type="submit"],input[type="submit"]:focus{background:#03AD53;color:#fff}
input,input[type="submit"]:focus{box-shadow:none !important;outline:none !important;}